<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">Rank</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Production</th>
                    <th>Discovery</th>
                </tr>

                <% if(data.length){

                 for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].location%></td>
                    <td><%=data[i].production%></td>
                    <td><%=data[i].discovery%></td>
                </tr>
            <% }

             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>



            </table>
         </div>
        </div>

<%- include layouts/footer.ejs %>
